#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.buttons {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

.refresh-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.canvas {
  width: 288px;
  height: 400px;
  position: relative;
}

circle,
rect,
line {
  stroke-width: 5px;
  stroke-linecap: round;
  fill: transparent;
}

@media screen and (max-width: 480px) {
  .wrapper {
    gap: 2em;
  }
  .buttons {
    gap: 0.6em;
  }
}
