:root {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: url(bg.jpg) 0 0 no-repeat;
  background-color: gainsboro;
  background-size: cover;
  background-blend-mode: overlay;
}

a {
  color: rebeccapurple;
  text-decoration: inherit;
}
a:hover {
  color: plum;
}

circle,
rect,
line {
  stroke-width: 5px;
  stroke-linecap: round;
  fill: transparent;
}

h1 {
  font-size: 3.4em;
  line-height: 1.1;
  letter-spacing: 0.2em;
}
h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
}

button {
  position: relative;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  width: 44px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background-color: #333;
  color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #000;
}
button:focus,
button:focus-visible {
  outline: none;
}
button:disabled {
  opacity: 0.65;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.buttons {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

.desk {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.attempts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.canvas {
  width: 288px;
  height: 400px;
  position: relative;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.4em;
    letter-spacing: 0.1em;
  }

  .wrapper {
    gap: 2em;
  }
  .buttons {
    gap: 0.6em;
  }
}
